body {
    font-family: "Roboto Mono", monospace;
    background-color: #647e38;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #8FBC8F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.login-form {
    text-align: center;
}

.btn-ingresar {
    background-color: #38913b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}

h1 {
    font-size: 24px;
}

img {
    max-width: 50%;
    margin: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
}

input {
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border: 1.5px solid #ccc;
    border-radius: 4px;
}

#ingresar {
    background-color: #38913b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}
